<!-- <p>
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>


  </p> -->


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">MyBlog</a>

  

      
        <input type="text" name="searchTerm" id="search-box"  [(ngModel)]="searchTerm"  (keyup)="search($event)" placeholder="search  posts">
        

        <!-- <i class="fa-solid fa-magnifying-glass search-icon"></i> -->
      
        
        




      
      
    




      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="userIsAuthenticated" >
            <a  mat-button class="nav-link active" aria-current="page" routerLink="/create">New Post</a>
          </li>
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a  mat-button class="nav-link active" aria-current="page" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a  mat-button class="nav-link active" aria-current="page" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item" *ngIf="userIsAuthenticated">
            <button mat-button  (click)="onLogout()" >Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>



