 /* #expand{
    margin: auto;
    margin-top: 30px; 
     width: 60%; }  */

     /* .post-image{
      border: 1px solid black;
      width: 100%
     }
    .post-image image{
      border: 1px solid blue;
      overflow: hidden;
      height: 200px;
      width: 200px;
    } */
*{
  box-sizing: border-box;
}
   
    mat-paginator{
      margin-top: 20px;
      margin-bottom: 30px;
      margin:auto;
      /* border: 1px solid black; */
      text-align: center;
      
    }

    mat-spinner{
      margin: auto;
    }

    /* card */


    .card-title{
      text-align: center;
      margin-top: 10px;
    }

    #my-img{
      width: 99%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    
    }

    #img-cont{
      text-align: center;
    }

    .outermost-cont{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 5px;
      justify-content: space-evenly;
    }
    .card{
      margin:10px 0 0 10px;
      width: 25rem;
      padding: 10px
    }

    .card-text{
      margin-bottom: 20px;
    }
    .card-body{
      text-align: center;
    }

    #view-post-btn{
      text-align: center;
    }
    .modal-content{
      width: 50em;
      margin: auto;
    }

    .post-img-cont{
      text-align: center;
    }
    .post-content{
      text-align: center;
    }

    #my-post-img{
      width: 70%;
    }
   
    /* .mycontainer{
      margin: 5px 15px 10px;
    } */

    #pagination-cont{
      text-align:center;
      /* border: 1px solid brown; */
      width: 50%;
      margin: auto;
    }

  
  
    @media only screen and (max-width: 1270px) {
      .outermost-cont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5px;
        justify-content: center;
      }
      .card{
        margin:10px 0 0 10px;
        width: 22rem;
        padding: 5px 15px 5px 15px;
      }
    }





    @media only screen and (max-width: 1125px) {
      .outermost-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        justify-content: space-evenly;
      }
      .card{
        margin:auto;
        width: 26rem;
        padding: 5px 15px 5px 15px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    @media (max-width:880px){
      .outermost-cont{
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        
      }
      .card{
        width: 90%;
        margin: auto;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }


    
   
    
