<mat-spinner *ngIf="loading"></mat-spinner>
<div class="mycontainer" *ngIf="!loading">
    <div class="outermost-cont" *ngIf="posts.length>0">
        <div class="outer-cont" *ngFor="let post of posts | filter: searchKey:'title' ">
            <div class="card">
                <!-- {{(post.title.length>50)? (post.title | slice:0:50)+'...':(post.title)}} -->
                <h2 class="card-title"
                    [innerHTML]="(post.title.length>50)? (post.title | slice:0:50)+'...':(post.title)"></h2>
                <p id="img-cont"><img [src]="post.imagePath" [alt]="post.title" id="my-img"></p>
                <div class="card-body">
                    <h3 class="card-text"
                        [innerHTML]="(post.content.length>100)? (post.content | slice:0:100)+'...':(post.content)"> </h3>
                    <button type="button" class="btn btn-primary" (click)="openCurrentPost(post.id)"
                        id="view-post-btn">View
                        post</button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="pagination-cont" *ngIf="!loading">
    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
        (page)="onChangedPage($event)" aria-label="Select page">
    </mat-paginator>
</div> -->

<!-- <div *ngIf="posts.length==0">
    <h2>No posts yet!!</h2>
</div> -->